In [49]:
import requests
import re
url = 'https://gz.lianjia.com/zufang/'
header = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}
response = requests.get(url,headers=header)
html = response.text

In [50]:
namere = re.compile('alt="(.*?)"\n')
name = namere.findall(html) # returning a list with the findall method
areare = re.compile('([0-9.]+)㎡\n')
area = areare.findall(html)
pricere = re.compile('<em>([0-9.]+)</em> 元/月')
price = pricere.findall(html)

In [51]:
area = area[0:25]
name = name[0:25]
price = price[0:25]# due the website, there are only 26 prices shown

In [52]:
import pandas as pd
datalist = []
for i in range(len(name)):
    datalist.append([name[i],area[i],price[i]]) #creating a 2-d list
df = pd.DataFrame(datalist,columns=['Name','Area','Price']).set_index('Name')

## Multiple Pages

In [62]:
import time
import random
data = pd.DataFrame()
for i in range(1,11):
    print('Retriving data from %d th page'%i)
    baseurl = 'https://gz.lianjia.com/zufang/pg'
    url = baseurl+str(i)+'/#contentList'
    reponse = requests.get(url,headers=header)
    html = reponse.text
    namere = re.compile('alt="(.*?)"\n')
    name = namere.findall(html) # returning a list with the findall method
    areare = re.compile('([0-9.]+)㎡\n')
    area = areare.findall(html)
    pricere = re.compile('<em>([0-9.]+)</em> 元/月')
    price = pricere.findall(html)
    area = area[0:25]
    name = name[0:25]
    price = price[0:25]
    datalist = []
    for i in range(len(price)):
        datalist.append([name[i],area[i],price[i]])
    df=pd.DataFrame(datalist)
    data=pd.concat([data,df])
    time.sleep(random.randint(6,7)) #delaying the execution of the program
print('Finished retriving')

Retriving data from 1 th page
Retriving data from 2 th page
Retriving data from 3 th page
Retriving data from 4 th page
Retriving data from 5 th page
Retriving data from 6 th page
Retriving data from 7 th page
Retriving data from 8 th page
Retriving data from 9 th page
Retriving data from 10 th page
Finished retriving

In [63]:
data.columns=['Name','Area','Price']
data.set_index('Name')

                                      Area Price
Name
整租·敏捷锦绣天伦 3室2厅 南_敏捷锦绣天伦租房            90.00  3000
合租·万科柏悦湾 4居室 北卧_万科柏悦湾租房              12.00  2030
整租·佳润云凯雅寓 1室1厅 北_佳润云凯雅寓租房            41.00  2900
合租·萝岗和苑 5居室 北卧_萝岗和苑租房                10.90  1330
整租·阳光城悦然府 3室2厅 西南_阳光城悦然府租房           84.00  2200
...                                    ...   ...
整租·凯旋国际 1室0厅 南_凯旋国际租房                53.30  1500
整租·时代香海彼岸 3室2厅 南/北_时代香海彼岸租房          91.00  2000
合租·德欣小区 4居室 南卧_德欣小区租房                10.00  1860
整租·中冠大厦 3室1厅 南/北_中冠大厦租房             117.00  5200
合租·广州雅居乐花园剑桥郡 4居室 西北卧_广州雅居乐花园剑桥郡租房   16.00  1830

[250 rows x 2 columns]